.bgimage {
  background-image: url("../LandingPage/Icon/https___s3.amazonaws.com_s3.delivery.com_Homepage_default-small.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

/* .nav {
  position: relative;
  left: 800px;
  top: 10px;
  color: #1f5ea9;
} */

.logoimg {
  width: 230px;
}

.searcboxicon {
  color: #1f5ea9;
  margin: 10px;
  margin-top: 20px;
}

.roundBox{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display:inline-block;
  margin-right: 20px;
}

.info {
  font-size: 25px;
  color: #666666;
  margin-top: 20px;
  font-weight: 100;
  font-family: "Open Sans",Arial,sans-serif,100;
}

.btn {
  background-color: #1f5ea9;
  border: none;
  border-radius: 0px 2px 2px 0px;
  color: white;
  width: 120px;
  height: 45px;
  position: relative;
  bottom: 0px;
  left: 0x;
}
.searchInput {
  border: none;
  width: 320px;
  height: 35px;
  position: relative;
  bottom: 25px;
  outline: none;
}
.inpDiv {
  width: 354px;
  height: 45px;
  border: 1px solid #ccc;
  padding: 6px 8px 6px 30px;
  background: white;
  outline: black;
  margin-bottom: 20px;
}
.searchDiv {
  position: absolute;
  left: 70px;
}

.locationArrow {
  position: relative;
  right: 170px;
  top: 5px;
  color: #1f5ea9;
}

::placeholder{
  color:lightgray;
}
