.nav::before{
    content: "";
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
background: rgb(242,243,245);
background: linear-gradient(0deg, rgba(242,243,245,0.20) 0%, rgba(255,254,253,1) 100%);
box-shadow: none;
border: none;
}

.fbBtn {
  background: #01579b;
  color: white;
  border: 1px solid #01579b;
  padding: 1% 2%;
  border-radius: 5px;
}
