.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  width: 1.1em;
  float: right;
  /* display: inline; */
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radioBtn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radioBtn:checked ~ label:before,
.rating > input.radioBtn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #ffd700;
}

.activeBtn {
  background: #01579b;
  color: white;
  border: 1px solid #01579b;
}

.normalBtn {
  background: white;
  color: black;
  border: 1px solid black;
}

.bgCol {
  background: #dfe6e9;
}
/* Restaurants:hover{
  background-color: skyblue;
} */